---
import Layout from '../layouts/Layout.astro';
---

<Layout title="SchmidHome">
    <h1>Willkommen bei SchmidHome</h1>
    <p>Dies ist die Startseite von SchmidHome.</p>
    <h1 class="centered-text">Die Website ist aktuell noch in Erstellung!</h1>
</Layout>

<style>
    .centered-text {
        text-align: center;
        font-weight: bold;
        color: red;
    }
</style>